.Footer{

    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    
    >.group1{
       
        >.text{
            font-size: 0.5rem;
            color: #404040;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
        }
    }
    >.group2{
        margin: 2%;
    }
 
  
}

@media (min-width: 500px){
    .Footer{
        >.group2{
            margin: 1%;
        }
     
      
    }
    
}
