.coverRegister {
    background-color: #fffffff2;
    padding-top: 3%;
    width: 300px;
    display: flex;
    justify-content: center;
    
    height: 22rem;
}
.Form {
    display: flex;
    flex-direction: column;
    height: 300px;
}
/*Get moving with Uber*/
.moving {
    color: #5d5b5b;
    font-family: 'Noto Sans HK', sans-serif;
    flex: 1;
    display: flex;
    padding-left: 20px;
    font-size: 1.1rem;
    margin: auto;
    
    align-items: flex-end;
}
/*+84*/
.tel {
    color: gray;
    display: block;
    margin: 8px  10px;
    text-align: left;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1rem;
}
/*Input Group*/
.group-inline {
    padding: 8px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    margin: 3px;
}
.item1{
	flex-grow: 8;
}
.item2{
	flex-grow: 4;
	margin: auto;
}
.coverFormInput{
    box-shadow: 15px 15px 15px rgb(226, 226, 226);  
}
input[type="text"] {
    font-size: 80%;
}
input.form-control {
    border: none;
   	width: 100%;
    border: none;
    background: #fffffffc;
    height: 30px;
}

.input-group-text {
    display: flex;
    width: 100%;
    padding-left: 5%;
    justify-content: flex-start;
    flex: 0.5;
}
.item3{
    flex-grow: 4;
    align-items: center;
    justify-content: center;
	margin:auto;
}
.agree {
    color: gray;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 400;
    font-size: 80%;
}
.next {
    border-color: gray;
    border: 2px solid #c5c5c5;
    display: flex;
    padding: 10%;
    font-size: 150%;
    border-radius: 50%;
    
 
}
.rightArrow {
    border-radius: 8px;
   
}